.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo { animation: App-logo-spin infinite 20s linear; }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App h1 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
}
